{% extends "layout.html" %}

{% block title %}From Hello!{% endblock title %}

{% block main %}

    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/script.js"></script>
    <section class="culture">
        <div class="culture-content">
            <h1>Culture in Indonesia</h1>
            <p>Indonesia dinobatkan sebagai negara dengan bentuk kebudayaan yang paling unik dan beragam oleh pihak UNNESCO pada tahun 2004. Hal ini jelas mengundang banyak perhatian dari seluruh wisatawan mancanegara</p>
            <br>
            <p>Untuk mengetahui sejarah dan hal-hal mengenai candi di Indonesia, silahkan tekan tombol dibawah ini</p>
            <div class="culture-form">
                <form>
                    <input type="submit" name="" value="Next Page">
                </form>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about-content">
            <div class="about-content-item about-card">
                <img src="static/image/candi2.jpg" alt="candi image">
            </div>
            <div class="about-content-item about-text">
                <h2>About Our Store</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci non ad consequatur reiciendis porro nisi laborum quae explicabo error ipsa et, labore, voluptatibus repellat similique, facilis suscipit neque. Praesentium consectetur sit obcaecati molestiae? Molestias reprehenderit officiis eius saepe rerum impedit, fuga ipsum dolorem architecto nam officia iure explicabo placeat excepturi.
                </p>
            </div>
        </div>
    </section>
    

{% endblock main %}